/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE  0
#define FN    1

/ {
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label = "base";
            bindings = <
            &kp ESC &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &none
            &kp TAB &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &none &none
            &kp LCTRL &kp A &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp A &kp A &kp A &kp ENTER
             &kp LALT &kp LALT &kp SPACE &kp SPACE &kp RALT &kp LEFT &kp DOWN &kp UP &kp RIGHT
            >;
        };
    };
};
