/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE    0
#define FNAV    1
#define BT      2

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        numrow_2_ralt {
            bindings = <&mt F3 RA(NUMBER_2)>;
            key-positions = <26 14>;
            layers = <0>;
        };

        numrow_3_ralt {
            bindings = <&mt RA(F4) RA(NUMBER_3)>;
            key-positions = <15 27>;
            layers = <0>;
        };

        numrow_4 {
            bindings = <&mt F5 NUMBER_4>;
            key-positions = <16 28>;
            layers = <0>;
        };

        numrow_1 {
            bindings = <&mt F2 NUMBER_1>;
            key-positions = <13 25>;
            layers = <0>;
        };

        numrow_backtick {
            bindings = <&mt F1 GRAVE>;
            key-positions = <12 24>;
            layers = <0>;
        };

        numrow_5 {
            bindings = <&mt F6 N5>;
            key-positions = <17 29>;
            layers = <0>;
        };

        numrow_6 {
            bindings = <&mt F7 NUMBER_6>;
            key-positions = <18 31>;
            layers = <0>;
        };

        numrow_7 {
            bindings = <&mt F8 N7>;
            key-positions = <19 32>;
            layers = <0>;
        };

        numrow_8 {
            bindings = <&mt F9 N8>;
            key-positions = <20 33>;
            layers = <0>;
        };

        numrow_9 {
            bindings = <&mt F10 N9>;
            key-positions = <21 34>;
            layers = <0>;
        };

        numrow_0 {
            bindings = <&mt F11 N0>;
            key-positions = <22 35>;
            layers = <0>;
        };

        numrow_degree {
            bindings = <&mt F12 MINUS>;
            key-positions = <23 36>;
            layers = <0>;
        };

        arrow_left {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <32 44>;
            layers = <0>;
        };

        arrow_down {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <33 45>;
            layers = <0>;
        };

        arrow_up {
            bindings = <&kp UP_ARROW>;
            key-positions = <34 46>;
            layers = <0>;
        };

        arrow_right {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <35 47>;
            layers = <0>;
        };

        space {
            bindings = <&lt 1 SPACE>;
            key-positions = <31 32>;
            layers = <0>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <29 28>;
            layers = <0>;
        };

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <37 38>;
            layers = <0>;
        };
    };

    macros {
        fat_arrow: fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "FAT_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&mt F1 GRAVE    &mt F2 N1                &mt F3 RA(N2)   &mt F4 RA(N3)       &mt F5 N4         &mt F6 N5                                    &mt F7 N6          &mt F8 N7         &mt F9 N8           &mt F10 N9      &mt F11 N0               &mt F12 MINUS
&kp ESCAPE      &mt LG(RIGHT_BRACKET) Q  &kp W           &kp E               &kp R             &kp T                                        &kp Y              &kp U             &kp I               &kp O           &kp P                    &mt RIGHT_BRACKET LEFT_BRACKET
&kp TAB         &mt LEFT_META A          &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &mt LS(G) G               &to 4              &mt NON_US_HASH H  &mt LEFT_SHIFT J  &mt LEFT_CONTROL K  &mt LEFT_ALT L  &mt LEFT_META SEMICOLON  &mt EQUAL SINGLE_QUOTE
&kp LEFT_SHIFT  &kp LEFT_CONTROL         &mt LG(C) Z     &mt LG(H) X         &mt LG(U) C       &mt LS(V) V                                  &mt LS(N) B        &kp M             &kp COMMA           &mt RALT DOT    &kp SLASH                &kp ENTER
                                                         &kp LEFT_META       &lt 2 BACKSPACE   &lt 3 ESCAPE  &caps_word         &kp INSERT  &kp TAB            &lt 1 SPACE       &kp RIGHT_ALT
            >;
        };

        Fn-move-mouse {
            bindings = <
&none   &none          &none         &none             &none           &none                                  &none     &none           &none           &none         &none            &none
&none   &none          &none         &none             &none           &msc SCRL_UP                           &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none   &kp LEFT_META  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &msc SCRL_DOWN           &none         &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT        &kp END
&trans  &trans         &none         &none             &msc SCRL_LEFT  &msc SCRL_RIGHT                        &none     &mkp MB4        &kp PAGE_DOWN   &kp PAGE_UP   &mkp MB5         &none
                                     &none             &trans          &trans           &trans         &none  &none     &trans          &none
            >;
        };

        numpad {
            bindings = <
&none  &none          &none            &none            &none            &none                        &none  &none           &none             &none         &none          &none
&none  &none          &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none                        &none  &none           &none             &none         &none          &none
&none  &kp LEFT_META  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans         &none         &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_META  &none
&none  &none          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans                       &none  &none           &none             &none         &none          &none
                                       &kp KP_NUMBER_0  &trans           &trans  &none         &none  &none  &none           &none
            >;
        };

        media {
            bindings = <
&trans  &trans                &trans      &trans            &trans      &kp LOCKING_NUM                            &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp C_PREVIOUS        &kp C_STOP  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp K_MUTE                                 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&trans  &kp C_BRIGHTNESS_INC  &trans      &trans            &trans      &kp C_VOLUME_UP            &trans          &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp C_BRIGHTNESS_DEC  &trans      &trans            &trans      &kp C_VOLUME_DOWN                          &trans        &trans        &trans        &trans        &trans        &trans
                                          &trans            &trans      &trans             &trans          &trans  &trans        &trans        &trans
            >;
        };

        game {
            bindings = <
&mt ESCAPE GRAVE  &kp N1            &kp N2  &kp N3         &kp N4        &mt F5 N5                               &kp N6       &kp N7  &kp N8     &kp N9   &kp N0         &mt EQUAL MINUS
&kp TAB           &kp Q             &kp W   &kp E          &kp R         &kp T                                   &kp Y        &kp U   &kp I      &kp O    &kp P          &mt RBRC LBRC
&kp CLCK          &kp A             &kp S   &kp D          &kp F         &kp G             &none                 &kp H        &kp J   &kp K      &kp L    &kp SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT    &kp LEFT_CONTROL  &kp Z   &kp X          &kp C         &kp V                                   &mt LS(N) B  &kp M   &kp COMMA  &kp DOT  &kp SLASH      &kp ENTER
                                            &kp LEFT_META  &kp LEFT_ALT  &kp SPACE  &none         &kp BACKSPACE  &kp SPACE    &none   &to 0
            >;
        };
    };
};
